addict==2.4.0
albumentations==1.4.3
aliyun-python-sdk-core==2.15.0
aliyun-python-sdk-kms==2.16.2
antlr4-python3-runtime==4.9.3
asttokens
Brotli
certifi 
cffi==1.16.0
charset-normalizer
click==8.1.7
cloudpickle==3.0.0
colorama 
comm
contourpy==1.2.1
crcmod==1.7
cryptography==42.0.5
cycler==0.12.1
debugpy 
decorator 
exceptiongroup 
executing 
filelock 
fonttools==4.50.0
fsspec==2024.3.1
fvcore==0.1.5.post20221221
gmpy2
h5py==3.10.0
huggingface-hub==0.22.2
idna
imageio==2.34.0
importlib_metadata
importlib_resources==6.4.0
iopath==0.1.10
ipykernel
ipython
jedi 
Jinja2 
jmespath==0.10.0
joblib==1.4.0
jupyter_client 
jupyter_core 
kiwisolver==1.4.5
lazy_loader==0.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe 
matplotlib==3.8.4
matplotlib-inline 
mdurl==0.1.2
mkl-fft 
mkl-random 
mkl-service==2.4.0
model-index==0.1.11
mpmath 
nest_asyncio 
networkx 
numpy 
omegaconf==2.3.0
opencv-python==4.9.0.80
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.37
ordered-set==4.1.0
oss2==2.17.0
packaging 
pandas==2.2.1
parso
pickleshare 
pillow 
portalocker==2.8.2
prettytable==3.10.0
prompt-toolkit
psutil 
pure-eval 
pycocoevalcap==1.2
pycocotools
pycparser==2.22
pycryptodome==3.20.0
Pygments 
pyparsing==3.1.2
PySocks 
python-dateutil
pytz
PyYAML 
pyzmq 
regex
requests
rich
safetensors
scikit-image
scikit-learn
scipy==1.13.0
shapely==2.0.4
six 
stack-data 
sympy 
tabulate
termcolor
terminaltables
threadpoolctl
tifffile
timm
tokenizers==0.15.2
tomli==2.0.1
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tornado 
tqdm
traitlets 
transformers==4.39.3
typing_extensions 
tzdata==2024.1
urllib3==1.26.18
wcwidth
win-inet-pton
yapf
zipp
yacs